#support{
    color: #007a56;
}
#support a{
    color: #007a56;
}
nav{
    background-color: #007a56;
    height: 75px;
}
nav img{
    width: 55px;
}
.navbar-toggler-icon{
    color: #fff;
}

nav button img{
    width: 60px;
}
#btn-primary {
    color: #007a56;
}

#btn-primary:hover, .btn:focus, .btn:active{
    color: #007a56;
}

#btn-secondary:hover, .btn:focus, .btn:active{
    color: #007a56;
}
.nav-link{
    color: #fff;
}

.container-fluid{
    background-color: #007a56;
}

#hero{
    color: #fff;
}

