nav{
    background-color: #007a56;
}
nav img{
    width: 90px;
}
.navbar-toggler-icon{
    color: #fff;
}

nav button img{
    width: 60px;
}
nav .btn{
    color: #007a56;
}

nav .btn:hover, .btn:focus, .btn:active{
    color: #007a56;
}

.nav-link{
    color: #fff;
}
