nav{
    background-color: #007a56;
}
.nav .nav-link{
    color: #fff;
    
}
nav img{
    width: 100px;

}
.navbar-toggler-icon{
    color: #fff;
}

nav button img{
    width: 60px;
}

.nav-link{
    color: #fff;
}